__tests__
coverage
node_modules
src
docs
jest.config.js
tsconfig.json
.eslintignore
.eslintrc.js
.gitignore
.huskyrc.json
.nvmrc
.lintstagedrc.json
.prettierrc.js
.tool-versions
.vscode
script.js
test.html
docker-compose*
Dockerfile*
Makefile
.husky